body {
  font-family: "Inter", sans-serif;
  background-color: #dddddd;
}

nav {
  background-color: #ffe600;
  position: sticky;
}

.brand {
  color: #030303;
}

.cart:focus {
  background-color: transparent;
  border: none;
}
